.header {
    background-color: rgb(16, 16, 65);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 5rem;
    color: white;
    .headerLinks {
        display: flex;
        justify-content: space-between;
        width: 10%;
        align-items: center;
        a {
            color: white;
            text-decoration: none;
        }
    }
}